## Aula 9 - Validação de Esquema com Pandas

In [2]:
!pip install pandera

Collecting pandera
  Downloading pandera-0.8.0-py3-none-any.whl (186 kB)
     |████████████████████████████████| 186 kB 5.0 MB/s
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (3.10.0.2)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.19.5)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.13.3)
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.7.1-py3-none-any.whl (8.4 kB)
Collecting pandas-stubs
  Downloading pandas_stubs-1.2.0.39-py3-none-any.whl (161 kB)
     |████████████████████████████████| 161 kB 59.0 MB/s
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.1.5)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (3.0.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.6)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Installing collected packages: mypy-extensions, typing-inspect, pandas-stubs, pandera
Successfully installed mypy-extensions-0.4.3 pandas-stubs-1.2.0.39 pandera-0.8.0 typing-inspect-0.7.1

In [1]:
import numpy as np
import pandas as pd
import pandera as pa

categories = ["A", "B", "C"]

np.random.seed(100)

dataframe = pd.DataFrame({
    "cat_var_1": np.random.choice(categories, size=100),
    "cat_var_2": np.random.choice(categories, size=100),
    "num_var_1": np.random.uniform(0, 10, size=100),
    "num_var_2": np.random.uniform(20, 30, size=100),
})
dataframe

   cat_var_1 cat_var_2  num_var_1  num_var_2
0          A         A   6.804147  24.743304
1          A         C   3.684308  22.774633
2          A         C   5.911288  28.416588
3          C         A   4.790627  21.951250
4          C         B   4.504166  28.563142
..       ...       ...        ...        ...
95         C         B   8.918212  20.537053
96         A         B   9.925908  26.377857
97         C         C   2.802506  20.730084
98         C         A   4.465055  29.914306
99         B         C   8.516331  27.795298

[100 rows x 4 columns]

In [3]:
schema = pa.DataFrameSchema({
    "num_var_.+": pa.Column(
        float,
        checks=pa.Check.greater_than_or_equal_to(0),
        regex=True,
    ),
    "cat_var_.+": pa.Column(
        pa.Category,
        checks=pa.Check.isin(categories),
        coerce=True,
        regex=True,
    ),
})
validated_df = schema.validate(dataframe)
validated_df

   cat_var_1 cat_var_2  num_var_1  num_var_2
0          A         A   6.804147  24.743304
1          A         C   3.684308  22.774633
2          A         C   5.911288  28.416588
3          C         A   4.790627  21.951250
4          C         B   4.504166  28.563142
..       ...       ...        ...        ...
95         C         B   8.918212  20.537053
96         A         B   9.925908  26.377857
97         C         C   2.802506  20.730084
98         C         A   4.465055  29.914306
99         B         C   8.516331  27.795298

[100 rows x 4 columns]

In [6]:
schema = pa.DataFrameSchema(
    columns={col: pa.Column(int) for col in ["a", "b", "c"]},
    unique=["a", "c"],
)
df = pd.DataFrame.from_records([
    {"a": 1, "b": 2, "c": 3},
    {"a": 1, "b": 2, "c": 3},
])
df

   a  b  c
0  1  2  3
1  1  2  3

In [7]:
schema.validate(df)

SchemaError: ignored