<a href="https://colab.research.google.com/github/alexlopespereira/minicursoIDP2021/blob/master/ETL_Vacinacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercício 3.1

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [4]:
import pandas as pd
## Defina o id do seu projeto no bigquery!!!!!
project_id = 'enap-331414' # Defina o id do seu projeto no bigquery!!!!!
## Defina o id do seu projeto no bigquery!!!!!

df = pd.io.gbq.read_gbq('''SELECT * FROM `basedosdados.br_ibge_populacao.municipio` LIMIT 100''', project_id=project_id)

df.head()

    ano sigla_uf id_municipio  populacao
0  1991       RO      1100015      31981
1  1992       RO      1100015      34768
2  1993       RO      1100015      37036
3  1994       RO      1100015      39325
4  1995       RO      1100015      41574

In [ ]:
## Explique o que fez na sua query e por que.

## Submeta o seu dataframe criando uma tabela no BigQuery

In [5]:
df.to_gbq("enapdatasets.populacao",
              project_id=project_id,
              chunksize=40000,
              if_exists='replace',
              )

1it [00:03,  3.77s/it]

#### O comando acima cria um dataset chamado SEU_DATASET e dentro dele uma tabela chamada NOVA_TABELA_A_SER_CRIADA.
#### Por padrão, os dados são guardados fisicamente nos EUA, onde também estão guardados os dados do projeto basedosdados.
#### Não é possível fazer join de dados guardados em locais distintos, por isso estamos armazenando os dados desse exercício também nos EUA.

##### Aqui há uma demonstração de como [criar um dataset manualmente](https://drive.google.com/file/d/12mruc1Gu6nRVC8tzz4lesYGiPVH7Tir-/view?usp=sharing)